body {
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 250px;
    display: flex;
    flex-direction: column;
    border: 2px solid #000000;
    padding: 5px;
    border-radius: 20px;
}

.display-wrapper {
    display: flex;
    flex-direction: column;
    border: 2px solid #000000;
    font-size: 30px;
    border-radius: 20px;
    margin-bottom: 5px;
    text-align: end;
    padding-right: 10px;

}

#display {
    border-top: solid;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 2px solid #000000;
    border-radius: 20px;
}

button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 30px; 
}



